.Info {
  background-color: #924D6A;
  color: white;
}


.Info-heading{
  padding: 14vh 0 5vh;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  color: #5EB7C1;
  font-family: Molle;

}
.Info-item-heading{
  padding: 5%;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Montserrat;
}

.Info-item{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10vh;
}

.Info-item ul{
  align-self: flex-start;
}

.Info-icono{
  font-size: 2rem;
}

.Info-block-blue{
  background-color: #5EB7C1;
}

.Info-block-blue .Info-heading{
  color: #924D6A;
}

.Info-block-blue ul{
  list-style: none;
  text-align: center;
}