.Info {
  background-color: #ffffff;
  color: rgb(100, 99, 99);
}

.Info-block-pink .Info-heading {
  padding-top: 10vh;
}

.Info-heading {
  padding-top: 4vh;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3rem;
  color: #c55758;
  font-family: Molle;
  border-bottom: 5px #80808040 dotted;
  margin-bottom: 40px;
}

.Info-block {
  margin-bottom: 0;
}
.Info-block-blue ul {
  font-weight: 400;
}

.Info-block-pink ul {
  align-self: flex-start;
}

.Info-block-blue ul {
  padding: 0;
  align-self: center;
  list-style: none;
  text-align: center;
}
