.Home {
  position: relative;
  width: 95%;
}

.Home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90vh;
}

.Home-intro {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 450px;
}

.Home-intro img {
  margin: auto;
  width: 350px;
  margin-bottom: 40px;
}
.Home-intro p {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 1.4rem;
  text-align: center;
}

@media (max-width: 600px) {
  .Home {
    width: 100%;
  }

  .Home-intro {
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    padding: 20px;
  }
  .Home-intro img {
    width: 250px;
  }
}
